@import "../../theme";

#notes-modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow-x: none;
  position: fixed;
  top: 0;
  width: 100vw;

  #note {
    background-color: white;
    border-radius: 4px;
    padding: 30px;
    width: 50vw;

    h2 {
      margin: 0;
    }

    .notes-controls {
      display: flex;
      margin-top: 30px;

      p {
        cursor: pointer;
        margin-right: 20px;
        text-decoration: underline;
      }

      .edit {
        color: $darkbrown;
      }

      .close {
        color: $mutedred;
      }
    }

    textarea {
      font-size: 1em;
      min-height: 300px;
      resize: none;
      width: 45vw;
    }
  }
}
