@import "../../theme";

.edit-task-modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;

  form {
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column !important;
    padding: 20px;
    max-width: 600px;
    width: 100%;

    input {
      border: 1px solid $mediumgrey;
    }

    button {
      background-color: $lightgreen !important;
      margin-bottom: 10px;
      margin-right: 20px;
    }
  }
}

@media (max-width: 931px) {
  .modal {
    form {
      flex-direction: column !important;

      .input-field {
        padding: 0 !important;
      }

      button {
        margin-bottom: 10px;
      }
    }
  }
}
