$darkgreen: #03240c;
$mediumdarkgreen: #459059;
$mediumgreen: #73f094;
$lightgreen: #bdf2cb;
$darkgrey: #202020;
$mediumdarkgrey: #4a4a4a;
$mediumgrey: #808080;
$lightgrey: #dcdcdc;
$lightlightgrey: #eeeeee;
$lightbrown: #a98467;
$darkbrown: #6c584c;
$mutedred: #bc4c4e;
